* {
    margin:0 
 }
body {
    background: linear-gradient(45deg,limegreen,coral,limegreen);
   
}
#header {
    background-color: black;
    height: 70px;
}
#brand {
   text-align: center;
    width: 40%;
    float: left;
    color: cornsilk;
    line-height: 70px;
}
a {
    color: cornsilk;
    text-decoration: none;
    margin-right:25px;
}
#menu {
    text-align: center;
    float: right;
    width: 60%;
    line-height: 70px;
}

/*  Main Section Styling */

   #title {
       text-align: center;
       margin-top: 50px;
   }
   #pizza {
       text-align: center;
       margin-top: 30px;
       margin-bottom: 10px;
   }
   #dp {
       background: linear-gradient(45deg,darkred,black);
       width: 40%;
       color: white;
       padding: 10px;
       border-radius: 50%;
       margin:10px auto;
   }
   table {
       width: 100%;
       margin-top: 15px;

   }
   img {
       border-radius: 20px;
       box-shadow: 0 0 10px black;
   }
   #bk {
       text-align: center;
    background: linear-gradient(45deg,darkred,black);
    width: 40%;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin:10px auto;
   }
   #burger {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
   }

   #footer {
       text-align: center;
       background: black;
       color: cornsilk;
       margin-top: 30px;
       padding: 20px;
   }